body {
    background-color: yellow;
    font-family: 'Roboto', sans-serif
}
.product {
    display: inline-flex;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px;
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75)

}

main {
    background-color: #f5f5f5;
}

main h2 {
    text-align: center;
}

main article img {
    width: 300px ;
    height: 300px
}
.banner{
    width: 100%;
}

.nav-menu-item {
    display: none;
}

.nav-menu-item2 {
    display: flex;
    text-decoration: none;
    text-align: center;
    margin: 3px;
    position: relative;
    right: 10px
}

.burger-menu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
}

.barra {
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 7px;
    left: 17px;
    margin: 5px;
}

.descuento {
    font-size: 105%;
    color: green;
}

footer{
    text-align: center;
    ;
}
 
.envio p, .paga p, .seguridad p {
    color: #525954;
}

footer i {
    font-size: xx-large;
    position: relative;
    top: 10px;
    color: #0a0145;
}
/* CREATE */

.forms {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 7px;
    display: flex;
    font-family: 'Roboto', sans-serif ;
    position: relative;
}

.form label {
    text-align: center;
    align-items: center;
    justify-content:center;
    display: flex;
}

.submit {
    margin: 15px;

}

@media (min-width: 640px) {
    
    
    .banner {
        width: 100%;
    }
    .barra{
        height: 40px;
        width: 1500px;
        margin: 30px;
        position: relative;
        left: 200px;
    }
    .burger-menu {
        display: none; 
    }
    .primera {
        display: flex;
    }
    header img {
        width: 300px;
        height: 100px;
        margin: 10px;
        position: relative;
    }
    .product {
        width: 300px;
        box-sizing: border-box;
        background-color: white;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 330px;
        margin: 20px;
        box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    }
    .nav-menu-item2 {
        display: flex;
    }

    /* CREATE */
}
