<!DOCTYPE html>
<html lang="es">
<body>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/styles.css">
    </head> 
    <header>
        <div class="primera">
        <img class="primera" src="./img/logo-mercado-liebre.svg" href="/"  alt="No encontre Imagen">
        <input class="primera barra" type="search" name="Busqueda" placeholder="Buscar productos, marcas y más...">
        <div class="primera barra cuotas"> <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</div>
        </div>
        <div class="nav-menu">
        <ul>
            <li class="nav-menu-item"><a href="#">Ofertas</a></li>
            <li class="nav-menu-item"><a href="#">Tiendas oficiales</a></li>
            <li class="nav-menu-item"><a href="#">Vender</a></li>
            <li class="nav-menu-item"><a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-menu-item2">
            <li class="nav-menu-item2"><a href="./create">Crea tu cuenta <i class="far fa-id-card"></i> </a></li>
            <li class="nav-menu-item2"><a href="./login">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
            <li class="nav-menu-item2"><a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
        
        </div>
    </header>
    <main> 
        <h2 class="topper">Registrate!</h2>
        <div class="form">
            <label for="name">
                <input type="text" class="forms" name="name" placeholder="Nombre">
            </label>
            <label for="lastName">
                <input type="text" class="forms" name="lastName" placeholder="Apellido">
            </label>
            <label for="email">
                <input type="email" class="forms" name="email" placeholder="Correo electrónico">
            </label>
            <label for="adress">
                <input type="text" class="forms" name="adress" placeholder="Dirección">
            </label>  
            <label for="typeUser">
                <input type="radio" class="forms cent"name="typeUser">
                Comprador
            </label>
            <label for="typeUser">
                <input type="radio" class="forms cent"name="typeUser">
                Vendedor
            </label>
            <label for="password">
                <input type="password" class="forms" name="password" placeholder="Cree una contraseña" required>
            </label> 
            <a href="./index.html">
                <label for="submit">
                    <input type="submit" href=""   class="submit cent" name="submit">
                </label>
                    
            </a>
        </div>

        
       
    </main>
    <footer>
        <div class="paga">
            <i class="far fa-credit-card" id="credit-card"></i>
            <h3> Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="envio">
            <i class="fas fa-shipping-fast"></i>
            <h3> Envío gratis desde $2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        
        <div class="seguridad">
            <i class="fas fa-user-shield"></i>
            <h3> Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
        <p><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>
    </footer>
</body>
</html>